<%- include ('./partials/header') %>
	
	<form action="/" method="post">
		<input type="text" name="detail" placeholder="Enter your id here">
		<button>Submit</button>
	</form>


<%- include ('./partials/footer') %>

